

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

.btrhr{
    height: 1.5vw;
    color: darkcyan;
    width: calc(100vw - 10%);
}
body{
    font-family: "IBM Plex Mono", monospace;
    background-color: rgba(0, 0, 0, 0.95);
    color: aliceblue;
    margin: 2rem;
}
section{
    margin: 2.5rem;
}

.reference{
    list-style-type: none;
    counter-reset: list-counter;
}

.reference li>a{
    color: #265ec5;
    text-decoration: none;
}

.reference li{
    counter-increment: list-counter;
    padding-left: 1.5rem;
    margin-bottom: 10px;
    
}
.reference li::before{
    content: "(" counter(list-counter) ") ";
}

footer > h3{
    margin: 1.5rem;
}

li > a:hover{
    color: #79bd2c;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 5%;
    aspect-ratio: 1;
}